.wrapper {
  position: relative;
  padding-top: 15px;
  height: calc(100% - 15px);
}

.inner {
  position: relative;
  overflow: hidden;
}

.treeWrap {
  position: relative;
  left: -17px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.treeWrap>*>*:before {
  display: none;
}
